// http://coolors.co/app/00ffc5-fe5f55-adf5ff-0075a2-481620
$palette-one: #00FFC5;
$palette-two: #FE5F55;
$palette-three: #ADF5FF;
$palette-four: #0075A2;
$palette-five: #481620;

$default-padding: 20px;
$card-height: 100px;
$card-width: 80px;
$in-play-width: 680px; // card-width*8 + padding*2
$in-play-height: 220px; // card-height*2 + padding/2
$avatar-width: 140px;
$default-corner-radius: 6px;

// cards in play and in hand
// \todo simplified avatar for cards in play
.playing-card {
  background-color: $palette-three; 
  width: $card-width;
  height: $card-height;
  border-radius: $default-corner-radius;
  display: inline-block;
  border: 1px solid;
	border-color:black;
  box-shadow: 5px 5px 12px 0px rgba(22,22,22,1);
  cursor: pointer;
}

// pop up a bit on hover
.playing-card:hover {
  box-shadow: 7px 7px 17px 0px rgba(22,22,22,1);
}

// when a card has been clicked
.active-card {
  background-color: $palette-two; 
}

// the representation of the player
// \todo pics
.player-avatar {
  padding:$default-padding;
  margin: $default-padding auto;
  width: $avatar-width;
  font-weight: fontWeight; 
  border-radius: $default-corner-radius;
  background-color: white;
}

// the overall container with all elements
.game-container {
  text-align: center; 
  background-color: $palette-four; 
  width: 1024px;
}

// area for cards to be played in center
.in-play-area {
  text-align: center; 
  background-color:$palette-four; 
  height: $in-play-height;
  width: $in-play-width;
  margin: 0 auto;
  border-radius: $default-corner-radius;
}

// the main End Turn button that always shows in the game
.end-turn-button {
  width: 90px;
  padding:$default-padding;
  background-color: $palette-two;
  border-radius:6px;
  border: 1px solid;
  float:right;
  position:relative;
  bottom:$in-play-height/2 + 40px;
  right:$default-padding;
  box-shadow: 5px 5px 12px 0px rgba(22,22,22,1);
  cursor: pointer;
}

// pop up a bit on hover
.end-turn-button:hover {
  box-shadow: 7px 7px 17px 0px rgba(22,22,22,1);
}

// a player';'s in play cards
.player-board {
	clear:both;
	width:100%;
  border: 1px solid;
  background-color: rgba(245,245,245,1);
  height: $in-play-height/2 - 5;
  border-radius: $default-corner-radius;
}

// the player's board who is on bottom
.home-player-board {
	position: relative;
	bottom: -10px;
}

// life and mana
.vital-stats-container {
	color:black;
	padding:5px;
	margin-top:10px;
}

// fade out used cards
.just-played-card, .has-attacked-card {
	opacity: .5;
}

// fade out cards in hand a tiny bit, if they can't be played
.too-expensive {
	opacity: .9;
	color:gray;
  box-shadow: 5px 5px 12px 0px rgba(22,22,22,0);
}

// where a player's unplayed cards go
.hand-container {
	height:$card-height + $default-padding;
}