@import "../../../assets/styles/base";

.game-board {

  width: 85%;
  margin: auto;

  @mixin game-piece {
    display: inline-block;
    vertical-align: middle;
  }

  &__avatars {
    @include game-piece;
  }

  &__play-area {
    @include game-piece;
    width: 80%;
    margin: 0 15px;
  }

  &__hand {
    border: 1px solid;
    background-color: rgba(245,245,245,1);
    height: 150px;
    margin: 20px auto;
    position: relative;
  }

  &__info {
    @include game-piece;
  }

  &__timer {
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 4px 1px white;
  }
}