@import "../../../assets/styles/base";

// the overall container for the main lobby
.lobby {
  width: 94vh;
  height:94vh;
  text-align: center; 
  background-color: rgba(0,0,0,.8); 
  margin: 0 auto;
  border-radius: 1vh;
  border: 10px double #000; 
  border-width: 1.5vh;
  color:white;

  // the button to find a game in the lobby
  &__campaign-btn {
    display: block;
    width: medium-button-width;
    padding:$default-padding;
    margin: 0 auto;
    background-color: $palette-four;
    border-radius:6px;
    border: 1px solid black;
    color: white;
  }

  &__home-img {   
    margin-top:30px;
    width:70%;
  }

}