// http://coolors.co/app/00ffc5-fe5f55-adf5ff-0075a2-481620
$palette-one: #00FFC5;
$palette-two: #FE5F55;
$palette-three: #ADF5FF;
$palette-four: #0075A2;
$palette-five: #481620;

$default-padding: 5px;
$default-horizontal-padding: 5px;
$default-vertical-padding: 5px;
$default-card-height: 150px;
$default-card-width: 100px;
$in-play-width: $default-card-width * 7; 
$in-play-height: $default-card-height*2;
$default-corner-radius: 6px;
$medium-button-width: 10vw;


/* 
   styles that override general globals
*/

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2vh;
}