// http://coolors.co/app/00ffc5-fe5f55-adf5ff-0075a2-481620
$palette-one: #00FFC5;
$palette-two: #FE5F55;
$palette-three: #ADF5FF;
$palette-four: #0075A2;
$palette-five: #481620;

$default-padding: 5px;
$default-horizontal-padding: 5px;
$default-vertical-padding: 5px;
$game-width: 1024px;
$game-height: 768px;
$card-height: 110px;
$card-width: 80px;
$in-play-width: $card-width * 7; 
$in-play-height: $card-height*2 + $default-vertical-padding*4; 
$default-corner-radius: 6px;
$player-height: 120px;

/* 
   styles that override general globals
*/

body {
  padding: 0;
  margin: 0;
  width: $game-width;
  height: $game-height;
  background-color: rgba(0,0,0,1)
 }