@import "../../../assets/styles/base";

// the representation of the player
.avatar {
  padding: 10px;
  padding-top: 0; 
  margin: 45px 0;
  width: 120px;
  height: 80px;
  background-color: rgba(245,245,245,1);

  // life and mana
  &__stats {
    color:black;
  }

  // life of player
  &__life {
    color:black;
  }

  &__name {

  }

}

